%header#header
  .container-fluid
    .navbar
      .navbar-inner
        .container-fluid
          = link_to 'Тест', root_path, {:class => 'brand'}

          %ul.nav.pull-right
            %li
              = link_to 'Регистрация', new_user_registration_path
